# Composer
vendor/
composer.lock
arc.txt
# Node
node_modules/
react-src/node_modules/
package-lock.json

# Build
react-src/build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# WordPress
*.log
*.tmp